:root {
  --main-bg-color: hsl(220, 24%, 10%);
  --general-color: hsl(219, 13%, 79%);
  --h1-color: hsl(220, 11%, 95%);
}

body {
  font-family: "Open Sans", Verdana, sans-serif;
  font-size: 12pt;
  line-height: 1.45rem;
  margin: 0 auto;
  background-color: var(--main-bg-color);
  color: var(--general-color);
  min-height: 100vh;

  /*Only large viewports should restrict the max-width,*/
  /*otherwise mobile is not wide enough!*/
  @media (width >= 1200px) {
    max-width: 50vw;
  }
}

h1 {
  color: var(--h1-color);
}

.labels {
  --paddig-left-bottom-labels: 0.1rem;
  --padding-right-labels: 0.4rem;
  --color-labels: hsl(220, 24%, 10%);
  padding-right: var(--padding-right-labels);
  padding-left: var(--paddig-left-bottom-labels);
  padding-bottom: var(--paddig-left-bottom-labels);
  color: var(--color-labels);
  border-radius: 0.2rem;
}

.projects {
  --projects-bg-color: hsl(60, 100%, 70%);
  background-color: var(--projects-bg-color);
}

.contexts {
  --contexts-bg-color: hsl(80, 100%, 70%);
  background-color: var(--contexts-bg-color);
}

ul.tasks-list {
  list-style-type: none;
}
