:root {
  --main-bg-color: hsl(220, 24%, 10%);
  --general-color: hsl(219, 13%, 79%);
  --h1-color: hsl(220, 11%, 95%);
}

body {
  font-family: "helvetica neue", arial, sans-serif;
  font-size: 12pt;
  line-height: 1.45em;
  margin: 0 auto;
  background-color: var(--main-bg-color);
  color: var(--general-color);
  min-height: 100vh;

  /*Only large viewports should restrict the max-width,*/
  /*otherwise mobile is not wide enough!*/
  @media (width >= 1200px) {
    max-width: 50vw;
  }
}

h1 {
  color: var(--h1-color);
}
